# Core functionality - changes here should be rare!
/src/app.py                   @jschlag-dev
/src/backend/database.py      @jschlag-dev
/src/backend/routers/auth.py  @jschlag-dev

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jschlag-dev
